.footer-area{
    color: #fff;
    background-color: #333;
    a{
        color: #fff;
        margin: 0 7px;
        font-size: 18px;
    }
    p{
        margin-top: 10px;
        font-size: 16px;
    }
}