.partner-area{
    padding: 60px 0;
    background-color: #f2f2f2;
    .partner{
        // display: grid;
        // grid-template-columns: repeat(6,auto);
        img{
            width: 170px;
        }
    }
}