.subscribe-area{
    @include bg;
    color: #fff;
    .subscribe{
        width: 700px;
        margin: 0 auto;
        form{
            position: relative;
        }
        input{
            width: 100%;
            padding: 11px;
            border: 1px solid #ddd;
            border-radius: 50px;
            &:focus{
                border: 0;
            }
        }
        input[type="submit"]{
            width: auto;
            position: absolute;
            top: 0;
            right: 0;
            background-color: #ff7720;
            border: 0;
            padding: 11px 30px;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
            cursor: pointer;
        }
    }
}